/**
 * Component: Now Playing.
 * -----------------------------------------------------------------------------
 * Styles for the 'Now Playing' screen.
 *
 */

.now-playing {
  background-color: #000000;
  color: #FFFFFF;
  height: 100%;
  width: 100%;
  padding: 0px 0px 0px 0px;
  text-align: center;

  &__cover,
  &__details {
    text-align: center;
    width: 100%;
  }

  &__cover {
    max-width: 220px;
  }

  &__image {
    height: auto;
    max-width: 150vw;
    width: 100%;
    align-items: center;
    padding-left: 50px;
  }

  &__details {
    text-align: left;
    display: flex;
   flex-flow: column nowrap;    
  }

  &__track {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: Bahnschrift, Arial, Helvetica, sans-serif;
    padding: 0px 0px 0px 0px;
  }

  &__artists {
    font-weight: normal;
    opacity: 0.8;
    text-align: center;
    font-size: 12px;
    font-family: Bahnschrift, Arial, Helvetica, sans-serif;
  }

  &--active {
    justify-content: center;
  }

  &--idle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (min-width: 767px) {
    flex-flow: row nowrap;
    padding: 10%;

    &__cover,
    &__details {
      width: 50%;
      max-width: 495px;
    }

    &__details {
      text-align: left;
    }
  }
}
